.parent{
    h2{
        background-color: aqua;
        color: blue;
        width: 400px;
        height: 100px;
        text-align: center;
        padding: 16px;

    }

}

@media( 800px <= width <=1200px){
  .parent{
    background-color: chartreuse;
    width: 800px;
    height: 800px;

    h2{
        background-color: blue;
    }
  }
}